
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --gray-variant-1: rgb(74, 74, 74);
  --gray-variant-2: rgb(235, 235, 235);

  --bg-nuance-1: rgb(215, 215, 215);
  --bg-nuance-2: var(--gray-variant-2);
  --on-light-font-color-p: rgb(116, 116, 116);
  --on-light-font-color-h: var(--gray-variant-1);
  --dark-gray-variant-1: var(--gray-variant-1);
  --on-dark-font-color: var(--gray-variant-2);

  
  --bg-button-variant-mobile: rgb(155, 155, 155);
  --bg-button-variant-desktop: var(--gray-variant-1);
}

body {
  background-color: #ffffff;
}
h1 {
  font-size: 2rem;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  line-height: 2.2rem;
  color: var(--on-light-font-color-h);
}
h2 {
  font-size: 1.75rem;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  line-height: 2rem;
  color: #4a4a4a;
}
h3 {
  font-family: 'Cambay', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--gray-variant-1);
}
a {
  color: #4a4a4a;
  text-decoration: none;
  cursor: pointer;
}
p {
  font-family: 'Cambay', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--on-light-font-color-p);
}




/* ----------------------------------------------------------- Header */
nav.mobile {
  display: none;
}
nav {
    height: 64px;
    width: 100%;
    background-color: white;    
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
#logo {
    height: 32px;
    display: inline-flex;
    align-items: center;
    margin-left: 24px;
    cursor: pointer;
}
p.logo {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: normal;
  font-size: 1.1rem;
  user-select: none;
}
span.logo-span {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: bold;
  color: #4a4a4a;
  font-size: 1.1rem;
}
ul.main-navig {
  margin-right: 16px;
}
li {
  display: inline;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  font-family: 'Cambay', sans-serif;
  font-size: 1rem;
}
li:hover {
  color: var(--gray-variant-1);
  font-weight: bold;
}





/* ------------------------------------------------------------- Banner */
section.banner {
  margin-top: 64px;
  width: 100%;
  background-color: var(--bg-nuance-1);
  display: inline-flex;
}
img.banner {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}
.info {
  align-self: center;
  width: max(20%, 260px);
  width: auto;
  margin-right: 8%;
}
h3.subtitle {
  color: var(--gray-variant-1);
  margin-top: 24px;
}
button.start-here {
  	text-align: center;
    padding: 8px 0px;
    margin-top: 24px;
    color: var(--on-dark-font-color);
    width: 100%;
    background-color: var(--bg-button-variant-desktop);
    align-content: center;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}
button.start-here:hover {
  background-color: var(--bg-button-variant-mobile);
}





/* ------------------------------------------------ Keep Practicing Section */
section.keep-practicing {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
}

.kp-article-box-desktop {
  display: block;
  width: 60%;
  padding: 32px 24px;
  gap: 2rem;
  user-select: none;
  cursor: pointer;
}
.kp-article-box-desktop:hover {
  background-color: var(--bg-nuance-1);
}


p.kp-quote {
  margin: 24px 0;
}
p.kp-author {
  font-weight: bolder;
}

img.keep-practicing-img {
  margin-bottom: 32px;
  width: 100%;
  height: auto;
}


.articles-container {
  width: 40%;
  height: auto;
  padding-top: 16px;
  border-left: 2px solid var(--bg-nuance-2);
}
.article-box {
  display: inline-flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 2px solid var(--bg-nuance-2);
  cursor: pointer;
  user-select: none;

}
.article-box:hover {
  background-color: var(--bg-nuance-1);
}
img.article-thumbnail-mobile {
  display: none;
}
img.article-thumbnail-desktop {
  width: 35%;
  margin: 16px;
}
.article-info {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}
a.article-more {
  color:rgb(101, 187, 221);
  font-weight: bold;
  margin-top: 8px;
}





/* ------------------------------------------------ Start learning Section */
.courses-mobile {
  display: none;
}
section.start-learning {
  background-color: var(--bg-nuance-2);
  padding: 32px 72px;
}

h2.sl {
  text-align: center;
}

.sl-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 32px;
  margin-top: 32px;
}

.course-box{
  background-color: white;
  cursor: pointer;
}
.course-box:hover {
  background-color: var(--bg-nuance-1);
}

img.course {
  height: auto;
  width: 100%;
}
.course-info {
  margin: 16px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}



/* ------------------------------------------------ Thesis Exhibit Section */
section.thesis-exhibit {
  padding: 32px 24px;
  display: inline-flex;
  width: 100%;
  flex-direction: row;
}

.te-article-box {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  gap: 2rem;

}
video.te-vid-mobile {
  display: none;
}
video.te-vid {
  padding-right: 24px;
}

h2.te {
  text-align: center;
  margin-top: 32px;
}
.thesises-container {
  width: 40%;
  height: auto;
}

.thesis-box {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  user-select: none;
}
.thesis-box:hover {
  background-color: var(--bg-nuance-1);
  cursor: pointer;
}


/* -------------------------------------------------------------- Footer */
footer {
  width: 100%;
  padding: 16px 24px;
  margin-bottom: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--bg-nuance-2);
}

ul.footer-nav {
  
}