
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --gray-variant-1: rgb(74, 74, 74);
  --gray-variant-2: rgb(235, 235, 235);

  --bg-nuance-1: rgb(215, 215, 215);
  --bg-nuance-2: var(--gray-variant-2);
  --on-light-font-color-p: rgb(116, 116, 116);
  --on-light-font-color-h: var(--gray-variant-1);
  --dark-gray-variant-1: var(--gray-variant-1);
  --on-dark-font-color: var(--gray-variant-2);

  --bg-button-variant-mobile: rgb(155, 155, 155);
  --bg-button-variant-desktop: var(--gray-variant-1);
}

body {
  background-color: #ffffff;
}
h1 {
  font-size: 2rem;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  line-height: 2.8rem;
  color: var(--on-light-font-color-h);
}
h2 {
  font-size: 1.75rem;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  line-height: 2rem;
  color: var(--on-light-font-color-h);
}
h3 {
  font-family: 'Cambay', sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--on-light-font-color-h);
}
a {
  color:rgb(101, 187, 221);
  text-decoration: none;
  cursor: pointer;
  margin-top: 8px;
  font-weight: bold;
}
p {
  font-family: 'Cambay', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--on-light-font-color-p);
}




/* ----------------------------------------------------------------- Header */
nav.desktop {
    display: none;
}
nav.mobile {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
}
img.nav-ic {
  width: 48px;
  padding: 4px;
  height: 48px;
  cursor: pointer;
  user-select: none;
}



/* ---------------------------------------------------------------- Banner */
section.banner {
  width: 100%;
  background-color: var(--bg-nuance-1);
  display: inline-flex;
  flex-flow: column nowrap;
}
img.banner {
  width: 100%;
  height: auto;
}
.info {
  align-self: center;
  width: auto;
  margin: 32px 16px;
}
h3.subtitle {
  color: var(--on-light-font-color-p);
  margin-top: 32px;
}
button.start-here {
  	text-align: center;
    padding: 12px 0px;
    margin-top: 24px;
    color: var(--on-dark-font-color);
    width: 100%;
    background-color: var(--bg-button-variant-mobile);
    align-content: center;
    border: 0;
    box-shadow: none;
}
button.start-here:active {
  background-color: var(--gray-variant-1);
}




/* ------------------------------------------------ Keep Practicing Section */
section.keep-practicing {
  width: 100%;
  height: auto;
}
.kp-article-box-desktop{
  display: none;
}
.articles-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 16px;
  gap: 32px;
}
.article-box {
  display: block;
  user-select: none;
}
img.article-thumbnail-desktop {
  display: none;
}
img.article-thumbnail-mobile {
  width: 100%;
}
.article-info {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  margin: 16px;

}



/* ------------------------------------------------- Start learning Section */
section.start-learning {
  background-color: rgb(245, 244, 245);
  padding: 32px 16px;
}
h2.sl {
  text-align: center;
}
.sl-grid-container {
  display: none;
}
.courses-mobile {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  margin-top: 16px;
  border-bottom: 1px gray;
}
h3.course-mobile {
  padding: 24px 16px 16px 16px;
  background-color: #D8D8D8;
  align-content: center;
  user-select: none;
}
h3.course-mobile:active {
  background-color: var(--bg-nuance-2);
}


/* ------------------------------------------------- Thesis Exhibit Section */
section.thesis-exhibit {
  display: none;
}
h2.te {
  text-align: center;
  margin-top: 32px;
}
video.te-vid-mobile {
  margin-top: 16px;
  margin-bottom: 24px;
}



/* ----------------------------------------------------------------- Footer */
footer {
  width: 100%;
  padding: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
ul.footer-nav {
  display: none;
}